:root{
    --main-color: aqua;
    --color-two: red;
    --color-three: blue;
}


.function{
    background-color: var(--color-two);
    height: 250px;
    /* width: 70%; */
    width: calc(100% - 300px);
}
.functions{
    background-color: var(--color-three);
    height: 250px;
    /* width: 70%; */
    width: calc(100% - 300px);
}
.functionss{
    background-color: var(--main-color);
    height: 250px;
    /* width: 70%; */
    width: calc(100% - 300px);
}
