@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200;1,300;1,800&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
#first {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: italic;
}