.overflow {
    background-color: aqua;
    border: 5px solid red;
    height: 300px;
    width: 500px;
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    overflow: auto;
}