/* li:first-child{
    color: red;
}
li:last-child{
    color: blue;
}
li:nth-child(5){
    color: blueviolet;
} */
li:nth-child(odd){
    color: blueviolet;
}
li:nth-child(even){
    color: red;
}

input:focus{
    border: 5px solid blue;
}